:root {
    --main-color1:#FFC72C;
    --main-color2:#DA291C;
    --main-color3:#27251F;

    --header-color:#292929;
    --header-font-color:#FFF;

    --font-color-1:#292929;
    --font-color-2:#808080;

    --footer-background-color:#292929;

    --footer-font-color-1:#FFFF00;
    --footer-font-color-2:#FFFFFF;
    --footer-font-color-3:#808080;
} 

.main-section {
    height: calc(100vh - 114px);
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

header {
    /* width: 100%; */
    background-color:  var(--header-color);
}

.main-header {
    margin: 0 auto;
    width: 1200px;
    height: 114px;
    
    color: var(--header-font-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-button{
    position: relative;
    width: 60px;
    height: 60px;
    display: none;
}

.yellow-cart{
    position: absolute;
    top: 30px;
    left: 25px;
    transform: translate(-50%, -50%);
}

.menu-header-m-count {
    position: absolute;
    top: 15px;
    right: -5px;
    transform: translate(-50%, -50%);
    min-width: 25px;
    height: 25px;
    background-color: var(--main-color2);
    border-radius: 50%;
    color: #FFF;
    font-size: 12px;
    font-weight: 900;
    line-height: 25px;
    text-align: center;
}

.main-logo > img {
    width: 80px;
    height: 69px;
}

.header-login {
    font-size: 18px;
    font-weight: 600;
}

.main-title-img {
    width: 100%;
    height: calc(100vh - 114px);
    display: flex;
    position: relative;
    overflow: hidden;
}

.main-title-img > ul {
    display: flex;
}

.main-content {
    padding: 100px 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.main-content > img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.slider-l {
    position: absolute;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
}

.slider-r {
    position: absolute;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
}

.main-slider{
    width: 100%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-slider > li {
    padding: 25px;
}

.main-slider-button{
    width: 30px;
    height: 30px;
    background-color: var(--main-color3);
    border: #FFF 5px solid;
    border-radius: 50%;
}

.main-slider-button-select{
    width: 60px;
    height: 60px;
    background-color: var(--main-color1);
    border: var(--main-color3) 10px solid;
}

.select-order-section{
    height: 100vh;
    max-width: 100%;
    background-color: white;
}

.select-order-section-tl{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
}

.select-order-section-title {
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.select-order-section-title > h3 {
    color: var(--main-color1);
    font-size: 24px;
    font-weight: bold;
}

.select-order-section-title > h2 {
    color: var(--font-color-1);
    font-size: 48px;
    font-weight: bolder;
}

.Select-order-button-tl{
}

.Select-order-button {
    margin: 0 auto;
    width: 600px;
    height: 100px;
    background-color: var(--main-color1);
    color: var(--font-color-1);
    font-size: 36px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    border-radius: 10px;
    border: 5px;
    border-style: solid;
    border-color: var(--font-color-1);
    box-sizing: border-box;
}

.Select-order-button:first-of-type{
    margin-bottom: 20px;
}

.menu-section{
    position: relative;
    margin: 0 auto;

    height: 100vh;
    max-width: 100%;
    background-color: var(--main-color2);
}

.menu-header-tl{
    background-color: var(--header-color);
}

.menu-header{
    max-width: 1200px;
    margin:  0 auto;
    padding: 12px 32px;

    display: flex;
    /* justify-content: space-between; */
    gap: 48px;
}

.menu-header > img {
    width: 128px;
    height: 110px;
}

.menu-header-menu {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-header-menu > h2 {
    color: var(--main-color1);
    font-size: 48px;
    font-weight: bold;
}

.menu-header-menu > h2 > span {
    color: var(--header-font-color);
}

.menu-select-list {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu-select-button {
    padding-bottom: 6px;
    color: var(--header-font-color);
    font-size: 24px;
    font-weight: bold;

    border-bottom: 5px;
    border-style: solid;
    border-color: transparent;
    box-sizing: border-box;
}

.button-action {
    color: var(--main-color1);
    border-color: var(--main-color1);
}

.menu-nav {
}

.menu-ul {
    max-width: 1200px;

    margin: 0 auto;
    padding: 20px 0;
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-list {
    width: 194px;
    height: 100%;

    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 4px #00000040;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px; 
}

.menu-list > img {
    width: 100%;
    object-fit: cover;
}

.menu-list-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-list-txt > h3 {
    font-size: 16px;
    font-weight: 900;
    color: var(--font-color-1);
}

.menu-list-txt > p:first-of-type {
    font-size: 12px;
    color: var(--font-color-2);
}

.menu-list-m {
    display: none;
}

.basket-order {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.shopping-cart-tl {
    position: absolute;
    display: flex;

    bottom: 5px;
    
    /* width:100%; */
}

.shopping-cart-tl > img {
    object-fit: none;
}

.cart-bottom {
    margin-top: 139px;

    min-width: 800px;
    height: 22px;
    background-color: var(--main-color1);
    
    /* background-image: url('../img/cart-bottom.png');
    background-size: cover; */
}

.backet-list-tl {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    max-width: 1000px;
    width: 100%;
    justify-content: space-between;
    padding-left: 21px;
    box-sizing: border-box;
}

.backet-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.backet-list-img {
    position: relative;

    width: 96px;
    height: 96px;

    background-image: url(../img/맥크리스피디럭스버거.png);
    background-size: cover;
    background-position: center;

    border-radius: 4px;
    border: 4px;
    border-style: solid;
    border-color: var(--main-color1);
    box-sizing: border-box;

    box-shadow: 2px 4px 4px #27251f;
}

.backet-list-img > img {
    position: absolute;
    top: -24px;
    right: -24px;
    border-radius: 50%;
    box-shadow: 2px 4px 4px #27251f;
}

.more-list {
    width: 100px;
    height: 42px;
    background-color: white;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    box-shadow: 2px 4px 4px #27251f;
}

.more-list > div {
    width: 10px;
    height: 10px;
    background-color: var(--main-color2);
    border-radius: 50%;
}

.order-button {
    /* position: absolute;
    top: 10%;
    right: 5%; */

    width: 290px;
    height: 100px;
    background-color: var(--main-color1);
    color: var(--font-color-1);
    border-radius: 10px;
    box-shadow: 2px 4px 4px #27251f;

    font-size: 36px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.payment-section {
    height: 100vh;
    width: 100%;
    padding: 0 32px;
    box-sizing: border-box;

    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; */
}

.section-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 16px;
    height: 100%;
}

.payment-menu {
    width: 600px;
    padding: 32px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.payment-list-ul {
    padding: 20px;
    border: 20px solid var(--main-color1);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-height: 100%;
    overflow-y: scroll;
}

.payment-list {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 4px solid var(--main-color1);
    box-sizing: border-box;    
}

.payment-list > h3 {
    color: var(--font-color-1);
    font-size: 24px;
    font-weight: 900;

    display: flex;
    gap: 4px;
    align-items: center;
}

.payment-list > h3 > img {
    width: 28px;
    height: 28px;
    object-fit: cover;
}

.payment-list > p {
    color: var(--font-color-2);
    font-size: 18px;
}

.payment-list-input {
    width: 100%;
    height: 45px;
    padding: 0 8px;
    margin-top: 16px;

    color: var(--font-color-2);
    font-size: 18px;
    
    border: 5px;
    border-style: solid;
    border-color: var(--main-color1);
    box-sizing: border-box;

    display: flex;
    align-items: center;
}

.payment-button {
    width: 100%;
    height: 100px;
    padding: 0 64px;
    background-color: var(--main-color1);
    color: white;
    font-size: 36px;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-button > div {
    width: 34px;
    height: 34px;
    font-size: 24px;
    font-weight: lighter;
    color: var(--main-color1);
    background-color: white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.total-order-tl{
    padding: 32px 0;

}

.total-order{
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 20px solid var(--main-color1);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #FFF;
}

.total-order > h3 {
    color: var(--font-color-1);
    font-size: 24px;
    font-weight: 900;

    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 4px;
    border-style: solid;
    border-color: var(--main-color1);
    box-sizing: border-box;
}

.total-order-list{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 20px;

    box-sizing: border-box;
    max-height: 100%;
    overflow-y: scroll;

    /* background-color: var(--main-color1);
    border: var(--main-color1) solid 2px; */
}

.total-order-list > li {
    width: 500px;
    height: 100px;
    border: 5px solid var(--main-color1);
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.total-order-list > li > img {
    width: 100px;
    height: 100%;
    object-fit: cover;

    border-right: 5px solid var(--main-color1);
    box-sizing: border-box;
}

.total-order-inner-list {
    color: var(--font-color-1);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.total-order-select {
    color: var(--font-color-2);
    font-size: 16px;
}

.total-order-inner-list > li:first-child {
    font-weight: 900;
}

.total-order-inner-list > li:last-of-type {
    font-weight: 900;
    text-align: right;
}

footer {
    background-color: var(--footer-background-color);
}

.footer-menu {
    max-width: 1200px;
    padding: 50px 32px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-menu-list {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.footer-menu-list > ul > li {
    margin-bottom: 5px;
}

.footer-list-1 {
    color: var(--footer-font-color-2);
    font-size: 18px;
    font-weight: 900;
}

.footer-list-1 > li:first-of-type {
    color: var(--footer-font-color-1);
}

.footer-list-2 {
    color: var(--footer-font-color-3);
    font-size: 18px;
}

.footer-icon-list{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.footer-icon-list > li {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00000080;    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    display: none;

    
}

.login-section {
    position: relative;

    margin: 0 auto;
    
    max-width: 910px;
    height: 600px;

    background-color: #FFF;
    
    border-radius: 20px;
    border: 10px solid var(--main-color1);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.members-login {
    width: 100%;
    
    border-bottom: 9px;
    border-style: solid;
    border-color: var(--main-color1);

    display: flex;
}

.password-login {
    padding: 60px 20px;

    display: flex;
    flex-direction: column;
    gap: 60px;

    border-right: 10px solid  var(--main-color1);
}

.password-login > div > span {
    color: var(--font-color-1);
    font-size: 28px;
    font-weight: 900;
}

.password-login-input {
    width: 400px;
    height: 45px;
    margin-bottom: 18px;
    color: var(--font-color-2);
    font-size: 18px;

    border-bottom: 5px solid var(--main-color1);
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
}

.login-button-tl{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.login-button {
    width: 100%;
    height: 70px;

    color: var(--font-color-1);
    font-size: 18px;
    font-weight: 900;

    border-radius: 20px;
    border: 5px solid var(--main-color1);
    box-sizing: border-box;
}

.yellow-button {
    background-color: var(--main-color1);
}

.social-login {
    padding: 60px 20px;

    display: flex;
    flex-direction: column;
    gap: 60px;
}

.social-login > div > span {
    color: var(--font-color-1);
    font-size: 28px;
    font-weight: 900;
}

.social-login-button-tl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
}

.social-login-button {
    position: relative;

    width: 400px;
    height: 60px;

    padding: 0 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 18px;
    font-weight: 900;

    border-radius: 5px;
    box-shadow: 2px 4px 4px #00000040;
}

.g-red {
    background-color: #DA291C;
}

.n-green {
    background-color: #1EC800;
}

.k-yellow {
    background-color: #FFEB00;
    color: var(--main-color3);
}

.login-icon {
    position: absolute;
    left: 16px;
}

.non-members-login {   
    display: flex;
    justify-content: center;
    align-items: center;
}

.non-members-login-button {
    width: 300px;
    height: 70px;
    background-color: var(--main-color1);
    color: var(--font-color-1);
    font-size: 28px;
    font-weight: 900;

    border-radius: 20px;
}

.x-button-1 > img {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
}

.store-search-section{
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: 600px;
    background-color: #fff;

    border: 10px solid var(--main-color1);
    border-bottom: 0px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.store-search-section > div {
    height: 480px;
    padding: 20px;
    padding-bottom: 0px;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.store-search-section > div > h3 {
    padding: 40px;

    color: var(--font-color-1);
    font-size: 28px;
    font-weight: 900;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.store-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 100vh;
    overflow-y: scroll;
}

.store-list > li {
    width: auto;
    height: 66px;
    padding: 0 20px;

    color: var(--font-color-2);
    font-size: 14px;

    border: 5px;
    border-style: solid;
    border-color: var(--main-color1);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.store-list > li > p:first-child {
    color: var(--font-color-1);
    font-size: 18px;
    font-weight: 600;
}

.search-button{
    padding: 48px;
    background-color: var(--main-color1);

    color: var(--font-color-1);
    font-size: 28px;
    font-weight: 900;
}

.address-search-section {
    position: relative;
    max-width: 600px;
    height: 600px;
    margin: 0 auto;

    background-color: #fff;
    border: 10px solid var(--main-color1);
    border-bottom: 0px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.address-search-section > div {
    height: 480px;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 16px;
}

.address-search-section > div > h3 {
    padding: 40px;

    color: var(--font-color-1);
    font-size: 28px;
    font-weight: 900;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.address-search-bar {
    position: relative;

    width: 560px;
    height: 60px;

    border: 5px solid var(--main-color1);
    box-sizing: border-box;

    display: flex;
}

.address-search-bar > input {
    width: 100%;
    padding: 0 12px;
    font-size: 18px;
    color: var(--font-color-1);
}

.address-search-bar > svg {  
    position: absolute;
    top: calc(50% - 14px);
    right: 8px;
}

.address-search-bar > svg > path {
    fill: var(--main-color1);
}

.address-search-section > div > p {
    color: var(--font-color-1);
    font-size: 18px;
    font-weight: 900;
}

.search-ex {
    padding: 10px 20px;
    width: 480px;

    color: var(--font-color-2);
    font-size: 14px;
    border: 5px;
    border-color: var(--main-color1);
    border-style: solid;
    box-sizing: border-box;
}

.search-ex > p:first-of-type {
    margin-bottom: 5px;

    color: var(--font-color-1);
    font-size: 18px;
    font-weight: 600;
}

.menu-description-tl {
    position: relative;

    width: 1220px;
    height: 797px;
    padding: 0 54px;
    margin: 0 auto;
    background-color: #fff;

    border: 20px solid var(--main-color1);
    border-radius: 82px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.menu-description-tl > img {
    width: 523px;
    height: 523px;
    
    object-fit: cover;

    border: 10px solid var(--main-color1);
    border-radius: 10px;
    box-sizing: border-box;
}

.burger-description {
    height: 523px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger-information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.burger-name {
    padding-bottom: 16px;
    border-bottom: 3px;
    border-color: var(--main-color1);
    border-style: solid;
    box-sizing: border-box;
}

.burger-name > h3{
    color: var(--font-color-1);
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 12px;
}

.burger-name > p {
    color: var(--font-color-2);
    font-size: 18px;
    font-weight: 900;
}

.burger-information > p {
    color: var(--font-color-2);
    font-size: 18px;
    font-weight: 900;
    line-height: 20px;

    padding: 16px 0;
    border-bottom: 3px;
    border-color: var(--main-color1);
    border-style: solid;
    box-sizing: border-box;
}

.burger-ingredients {
    display: flex;
    justify-content: space-between;

    padding: 16px 0;
    border-bottom: 3px;
    border-color: var(--main-color1);
    border-style: solid;
    box-sizing: border-box;
}

.burger-ingredients > p {
    color: var(--font-color-1);
    font-size: 14px;
    font-weight: 900;
}

.ingredients-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;

    color: var(--font-color-2);
    font-size: 14px;
}

.ingredients-list > li {
    width: 150px;

    display: flex;
    justify-content: space-between;
}

.allergic-ingredients {
    color: var(--font-color-2);
    font-size: 14px;
    line-height: 20px;  

    padding: 16px 0;
    border-bottom: 3px;
    border-color: var(--main-color1);
    border-style: solid;
    box-sizing: border-box;
}

.allergic-ingredients > span:first-of-type {
    color: var(--font-color-1);
    font-weight: 900;
}

.burger-set-select {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.burger-set-select-button{
    width: 100%;
    height: 60px;
    padding: 0 9px;

    color: var(--font-color-1);
    font-size: 32px;
    font-weight: 600;

    border: 5px solid var(--main-color1);
    box-sizing: border-box;

    text-align: right;
}

.burger-set-select-button > p >:first-child {
    font-size: 18px;
}

.x-button-2 {
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: transparent;
}

.select-menu-section{
    
}

.select-menu-section-tl {
    position: relative;

    width: 1220px;
    height: 797px;

    padding: 60px 61px 33px 61px;

    border-radius: 82px;
    border: 20px solid var(--main-color1);
    box-sizing: border-box;
    background: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.backspace-button {
    position: absolute;
    left: -20px;
    top: -20px;
    background-color: transparent;
}

.option-select{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.option-select > h3 {
    width: 100%;
    padding-bottom: 18px;

    color: var(--font-color-1);
    font-size: 24px;
    font-weight: 700;

    border-bottom: 2px solid var(--main-color1);
    box-sizing: border-box;
}

.option-select > h3 > span {
    color: var(--font-color-2);
    font-size: 18px;
    font-weight: 500;
}

.option-select-list {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-button {
    height: 100%;
    display: flex;
    align-items: center;
}

.option-slide-container {
    width: 100%;
    margin: 0 16px;
    overflow: hidden;
}

.option-slide-container > ul {
    /* width: 100%; */
    display: flex;
    gap: 16px;
}

.option-select-list-button {
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;

    color: var(--font-color-1);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.option-select-button {
    display: block;
    width: 100px;
    height: 100px;

    border-radius: 80px;
    border: 5px solid var(--main-color1);
    box-sizing: border-box;
}

.option-select-button-on {
    border: 5px solid var(--main-color2);
}

.option-select-list-button > p:nth-of-type(2) {
    color: var(--font-color-2);
    font-weight: 500;
}

.backet-button {
    width: 428px;
    height: 74px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    border-radius: 10px;
    border: 5px solid var(--main-color1);

    color: var(--font-color-1);
    font-size: 32px;
    font-weight: 900;
}

.m-down-button-section {
    display: none;

    position: relative;
    height: 100vh;
}

.m-down-button-tl {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 125px;
    padding: 16px;
    box-sizing: border-box;
    background-color: var(--main-color3);
}
.m-down-button {
    position: relative;

    width: 100%;
    height: 100%;
    background-color: var(--main-color1);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.m-down-button > p:first-of-type {
    position: absolute;
    left: 16px;

    min-width: 32px;
    padding: 3px 4px;
    background-color: #fff;
    border-radius: 16px;

    color: var(--main-color1);
    font-size: 24px;
    font-weight: 900;
}

.m-down-button > p:nth-child(2){
    color: var(--font-color-1);
    font-size: 28px;
    font-weight: 900;
}

.m-down-button > p:last-of-type {
    position: absolute;
    right: 16px;

    color: #fff;
    font-size: 18px;
    font-weight: 900;
}

@media screen and (max-width:1200px) {
    .main-slider-button {
        box-shadow: none;
    }
}

@media screen and (min-width:375px) and (max-width:1200px) {

    header {
        position: fixed;
        z-index: 99;
        width: 100%;
        top: 0;
    }

    .main-header {
        width: 100%;
        height: 80px;
    }

    .main-button {
        display: block;
    }

    .main-logo > img {
        width: 40px;
        height: 34.5px;
    }

    .main-logo {
        font-size: 18px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-button {
        display: block;
    }

    .header-login {
        display: none;
    }

    .main-section {
        padding-top: 80px;
        height: calc(100vh - 80px - 220px);
        max-width: 100%;
        background-color: var(--main-color3);
    }

    .main-title-img {
        width: 100%;
        height: calc(100vh - 80px - 220px - 60px);
    }

    .main-content {
        padding: 0;
    }

    .main-slider{
        top: calc(100vh - 220px - 60px + 30px);
        bottom: 0;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
        background-color: var(--main-color3);
        z-index: 9;
    }

    .main-slider > li {
        padding: 20px;
    }
    
    .main-slider-button{
        width: 10px;
        height: 10px;
        background-color: var(--main-color3);
        border: #FFF 3px solid;
        border-radius: 50%;
    }
    
    .main-slider-button-select{
        width: 30px;
        height: 30px;
        background-color: var(--main-color1);
        border: none;
    }

    .slider-l > img {
        width: 50px;
        height: 100px;
    }

    .slider-r > img{
        position: absolute;
        right: 0;
        width: 50px;
        height: 100px;
    }

    .select-order-section{
        height: 100%;
        max-width: 100%;
    }

    .select-order-section-title {
        display: none;
    }

    .Select-order-button-tl{
        padding: 10px;
        background-color: var(--main-color3);
    }
    
    .Select-order-button {
        width: 100%;
        height: 100px;
        font-size: 28px;
        gap: 8px;
        border-radius: 10px;
    }
    
    .Select-order-button:first-of-type{
        margin-bottom: 0;
    }

    .Select-order-button:first-of-type > img {
        width: 32px;
        height: 30px;
    }

    .Select-order-button:last-of-type > img {
        width: 18px;
        height: 27.5px;
    }

    .menu-header-m {
        display: flex;
    }

    .menu-header {
        padding: 0;
    }

    .menu-header > img {
        display: none;
    }

    .menu-header-menu {
        padding: 10px 0;
        gap: 10px;
        height: 110px;
    }

    .menu-header-menu > h2 {
        font-size: 24px;
        text-align: center;
    }

    .menu-header-menu > h2 > span {
        color: var(--font-color-1);
    }

    .menu-nav {
        height: calc(100vh - 125px - 80px - 130px);
        overflow: hidden;
    }

    .menu-select-list-tl {
        width: 100%;
        overflow-x: scroll;
        height: 62px;
    }

    .menu-select-list-tl::-webkit-scrollbar {
        display: none;
    }

    .menu-select-list {
        width: 750px;
        justify-content: space-between;
        align-items: center;
    }

    .menu-select-button {
        display: flex;
        padding: 14px 16px;
        font-size: 24px;
        border-radius: 100px;
        color: var(--font-color-1);
        border: 2px solid #FFC72C;
        /* background: #DA291C; */
        /* box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    }

    .button-action {
        background-color: var(--header-color);
        color: var(--header-font-color);
        border: none;
    }

    .menu-section {
        padding: 0 32px;
        background-color: #FFF;
    }

    .menu-header-tl {
        padding-top: 80px;
        background-color: transparent;
    }

    .menu-ul {
        width: 100%;
        height: calc(100vh - 80px - 130px - 105px );

        padding: 10px 0;
        

        overflow-x: scroll;
    }

    .menu-list{
        width: 100%;
        height: 100px;
        padding: 0;
        border-radius: 0px;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        border: 5px solid var(--main-color1);
    }

    .menu-list > img {
        width: 100px;
        height: 100%;

        border-right: 5px solid var(--main-color1);
    }

    .menu-list-txt {
        width: 100%;
        height: 100%;
        margin: 10px 0;
        align-items: unset;
    }

    .menu-list-txt > p:first-of-type {
        display: none;
    }

    .menu-list-txt > p:nth-of-type(2) {
        color: var(--font-color-2);
        font-size: 14px;
        font-weight: 500;
        
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        width: 245px;
        height: 20px;
    }

    .menu-list-txt > p:nth-of-type(3) {
        color: var(--font-color-1);
        text-align: right;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
    }

    .menu-list-m {
        display: block;
    }

    .basket-order {
        display: none;
    }

    .payment-section {
        height: 200vh;
        padding: 0 32px;
    }

    .section-container {
        width:100%;
        flex-direction: column;
        gap: 0;
    }

    .payment-menu {
        width: 100%;
        height: 100vh;
        padding: 0;
        padding-top: 80px;
        gap: 0;
    }

    .payment-list-ul {
        width: 100%;
        height: calc(100vh - 80px - 125px);
        padding: 10px;
        border: none;
        background-color: #FFF;
    }

    .payment-list:first-of-type > h3 {
        border-bottom: 2px solid var(--main-color1);
    }

    .payment-button {
        display: none;
    }

    .payment-list {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: none;
        box-sizing: border-box;    
    }

    .total-order-tl{
        height: 100vh;
        padding: 0;
        padding-top: 80px;
    }

    .total-order{
        width: 100%;
        height: calc(100vh - 125px - 80px);
        padding: 10px;
        border: 0;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background-color: #FFF;
    }

    .total-order > h3 {
        display: flex;
        justify-content: space-between;
    }

    .total-order-list > li {
        width: 100%;
    }

    .total-order-inner-list {
        width: 100%;
    }

    .total-order-inner-list > li:first-of-type {
        height: 20px;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .total-order-inner-list > li:nth-of-type(2) {
        font-size: 14px;
        /* display: flex;
        justify-content: space-between; */
    }

    .total-order-inner-list > li:last-of-type {
        font-size: 16px;
    }

    .footer-menu {
        display: none;
    }

    .login-section {
        width: 100%;
        /* height: calc(100vh - 80px); */
        border-radius: 5px;
    }

    .members-login {
        flex-direction: column;
        border: 0;
    }

    .password-login {
        padding: 20px;
        gap: 20px;
        border: none;
    }

    .password-login-input {
        width: 100%;
    }

    .login-button-tl {
        gap: 10;
    }

    .login-button {
        width: 100%;
    }

    .social-login {
        padding: 20px;
        gap: 20px;

        border-top: 10px solid var(--main-color1);
        border-bottom: 10px solid var(--main-color1);
    }

    .social-login-button-tl{
        flex-direction: row;
        justify-content:space-between;
    }

    .social-login-button {
        border-radius: 10px;
    }

    .social-login-button > p {
        display: none;
    }

    .login-icon {
        position: unset;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .store-search-m {
        display: none;
    }

    .address-search-section {

    }

    .address-search-section > div {
        padding: 20px 20px;
    }

    .address-search-bar {
        width: 100%;
    }

    .search-ex{
        width: 100%;
    }

    .menu-description-tl {
        width: 100%;
        height: 100vh;
        padding: 80px 32px 0 32px;
        flex-direction: column;
        border: none;
        border-radius: 0;
        gap: 8px;
    }

    .menu-description-tl > img {
        width: 355px;
        height: 282px;

        border: 5px solid var(--main-color1);;
        border-radius: 0px;
    }

    .burger-description

    .burger-name  {
        text-align: center;
    }

    .burger-name > h3 {
        font-size: 24px;
    }

    .burger-set-select-button {

    }

    .select-menu-section-tl {
        width: 100%;
        height: 100vh;

        padding: 80px 32px 125px 32px;

        border: none;
        border-radius: 0;

        justify-content: center;
        gap: 50px;
    }

    .backet-button {
        display: none;
    }

    .backspace-button{
        display: none;
    }

    .x-button-2 {
        display: none;
    }

    .m-down-button-section {
        display: block;
    }
}


.heightProtect {
    display: none;
}

@media screen and (max-height:800px) and (min-width:1200px){
    
    
    .heightProtect {
        position: absolute;
        top: 50%;
        left: 25%;
        display: block;
        color: white;
        font-size: 72px;
    }
    
    .menu-ul {
        display: none;
    }

}